@charset "utf8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
:root{
	--font1:Verdana, Geneva, Tahoma, sans-serif;
	--font2:'Passion One', cursive;
	--font3:'Sriracha', cursive;
}
*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

html,body{
	
	min-height: 100vh;
	background-color: darkgray;
	font-family: var(--font1);
}

/*cabeçalho*/
header{
	background-color: black;
	color:white;
	text-align: center;
	
}

header > h1{
	font-size:8vw;
	padding-top:50px;
	font-variant: small-caps;
	font-family:var(--font2);
}

header > p{
	padding-bottom:50px ;

}

a{
	text-decoration: none;
	color:white;
	font-weight:bold;
}

a:hover{
	text-decoration:underline;
}


/*seçao*/

section{
	padding:10vh 0;
	line-height: 2em;
	padding-left: 30px;
	font-family:var(--font3);
	font-size:2.5vw;
}

section.normal{
	background-color: white;
	color:black;
}

section.imagen{
	background-color: black;
	color:white
}

section.imagen p{
	display: inline-block;
	background-color: rgb(86, 85, 85);
	padding:1em;
}


/*roda pe*/
footer{
	color:white;
	background-color: black;
	text-align:Center;
	padding:1rem;
}